#div1{
    height: 330px;
    width: 640px;
    border: black 1px;
    border-style: solid;
}
.container > div{float: left;}
#div2{
    height: 42px;
    width: 617px;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 10px;
}
#div3{
    height: 254px;
    width: 138px;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 10px;
}
#div4{
    float: center;
    height: 254px;
    width: 138px;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 10px;
}
#div5{
    height: 254px;
    width: 318px;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 10px;
}
#div6{
    height: 80px;
    width: 130px;
    border: solid black 1px;
    margin-left: 3px;
    margin-top: 2px;
}
#div7{
    width: 310px;
    height: 230px;
    border: solid black 1px;
    margin-left: 3px;
    margin-top: 2px;
}
input{
    margin-left: 360px;
    position: absolute;
    left: 10px;
    top: 30px;
}
h3{
    position: absolute;
    top: 12px;
}
button{
    background:    #0b5394;
    background:    linear-gradient(#6fa8dc, #0b5394 50%, #6fa8dc);
    border-radius: 11px;
    padding:       5px 10px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 10px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin-left: 540px;
    position: absolute;
    left: 10px;
    top: 30px;
}